name: Build Pipeline

# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the main branch
  push:
    branches: [ user/arudell/create-publishing-pipeline ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:          
      - name: Checkout SdnDiagnostics
        uses: actions/checkout@v2
        with:
          path: main

      - name: Build SdnDiagnostics Module
        run: .\main\.build\build.ps1
        shell: powershell
    
      - name: Publish to PowerShell Gallery
        run: |
          Import-Module -Name ".\main\out\build\SdnDiagnostics" -Force
          Publish-Module -Name "SdnDiagnostics" -NuGetApiKey ${{ secrets.PSGALLERY_AUTH_TOKEN }} -SkipAutomaticTags
        shell: powershell

      - name: Generate Documentation
        run: .\main\.build\utilities\generate-documentation.ps1
        shell: powershell

      - name: Checkout SdnDiagnostics.Wiki
        uses: actions/checkout@v2
        with:
          repository: microsoft/SdnDiagnostics.wiki.git
          ref: master
          path: wiki

      - name: Copy Documentation to SdnDiagnostics.Wiki
        run: Copy-Item -Path ".\main\.documentation\*" -Include *.md -Destination ".\wiki\" -Force -Verbose
        shell: powershell

      - name: Commit to SdnDiagnostics.Wiki
        run: |
          cd ".\wiki"
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Auto-Updated Documentation" --allow-empty
      
      - name: Push to SdnDiagnostics.Wiki
        run: |
          cd ".\wiki"
          git push



    