# This is a basic workflow to help you get started with Actions

name: Server2019SDN

# Controls when the workflow will run
on:
  # Triggers the workflow on push request events but only for the main branch
  push:
    branches:
      - main
    paths:
      - 'src/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
permissions:
  contents: read

jobs:
  # This workflow contains a single job called "build"
  build-and-test:
    # The type of runner that the job will run on
    runs-on: [self-hosted,Windows,X64]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Cleanup existing files
        run: |
          Remove-Item -Path .\* -Recurse -Force -Verbose
        shell: powershell

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout SdnDiagnostics repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: main

      # Runs a single command using the runners shell
      - name: Build SdnDiagnostics module
        run: .\build.ps1
        shell: powershell

      # Run the test configuration file that is locally on the test environment
      - name: Run online validation tests
        run: .\tests\online\RunTests.ps1 -ConfigurationFile "..\SdnDiagnosticsTestConfig.psd1"
        shell: powershell
