# This is a basic workflow to help you get started with Actions

name: Server2019SDNPullRequest

# Controls when the workflow will run
on:
  # Triggers the workflow on pull request events but only for the main branch
  pull_request:
    branches:
      - main
    paths:
      - 'src/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-and-test:
    # The type of runner that the job will run on
    runs-on: [self-hosted,Windows,X64]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Cleanup existing files
        run: |
          Remove-Item -Path .\* -Recurse -Force -Verbose
        shell: powershell

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout SdnDiagnostics repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      # Runs a single command using the runners shell
      - name: - name: 'Build SdnDiagnostics Module and Nuget Package'
        run: |
          .\build.ps1
        shell: powershell

      - name: Run online validation tests
        run: .\tests\online\RunTests.ps1 -ConfigurationFile "..\SdnDiagnosticsTestConfig.psd1"
        shell: powershell
